<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>MEDDLE</title>
  <link rel="stylesheet" href="/static/style.css">

</head>
<body>

<div class=thankyoucontent>
 <div class="wrapper-1">
    <div class="wrapper-2">
       <img src="https://i.ibb.co/Lkn7rkG/thank-you-envelope.png" alt="thank-you-envelope" border="0">
     <h1>Email verified!</h1>
      <p>Proceed to the login page</p>
      <button class="go-home"><a href="https://www.meddle-go.net/">
        Login</a>
      </button>
    </div>

    <div class="footer-like">
      <p>
      </p>
    </div>
</div>


</body>
</html>
